---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm.vue';

const pageTitle = "Iniciar Sesión";
---

<Layout title={pageTitle}>
    <main>
        <LoginForm client:load /> 
    </main>
</Layout>